[submodule "Carthage/Checkouts/SQLite.swift"]
	path = Carthage/Checkouts/SQLite.swift
	url = https://github.com/stephencelis/SQLite.swift.git
[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/GRMustache.swift"]
	path = Carthage/Checkouts/GRMustache.swift
	url = https://github.com/groue/GRMustache.swift.git
[submodule "Carthage/Checkouts/Himotoki"]
	path = Carthage/Checkouts/Himotoki
	url = https://github.com/ikesyo/Himotoki.git
