<p>{{syntaxType}}</p>
<h1>{{name}}</h1>

<div>
    {{# abstract }}
        <p>{{abstract}}</p>
    {{/ abstract}}
    {{# overview }}
        <h2>Overview</h2>
        <p>{{overview}}</p>
    {{/ overview }}
    {{^ overview  }}{{^ abstract }}
        <p>No overview available.</p>
    {{/ abstract }}{{/ overview }}
</div>

{{# sections }}
<div>
    <h3>{{title}}</h3>
    {{# symbols }}
    <div>
        <h4>{{title}}</h4>
        <p>{{abstract}}</p>
    </div>
    {{/ symbols }}
</div>
{{/ sections }}
